@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#tenfold-maps-test{
  @import "~bootstrap/scss/grid";
  .focused-map{
    height: 98vh;
  }
  .grid-map {
    height: 300px;
  }
  .btn-container{
    display: flex;
    justify-content: center;
  }
}
